@charset "gb2312";
/* CSS Document */

/*团购券页*/
#content_box .c_left .coupon {
	padding:10px;
}
#content_box .c_left .coupon .tit{
	height:35px;
	line-height:35px;
	border-bottom:1px dotted #666;
	font-family:"microsoft yahei";
}
#content_box .c_left .coupon .tit span{
	margin-right:20px;
}
#content_box .c_left .coupon .content{
	padding:18px;
	margin-top:10px;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	color:#9A5F29;
	border:1px solid #F63;
	background:#F7DEAC;
}
#content_box .c_left .coupon .content ul{
	margin:0 90px;
}
#content_box .c_left .coupon .content ul li{
	height:45px;
	line-height:45px;
	border-bottom:1px dotted #fff;
}
.supplier_login_box{
	border:1px solid #ccc;
}
.supplier_login_box ul{
	margin:5px 110px;
	width:300px;
}
.supplier_login_box ul li{
	height:40px;
	line-height:40px;
}
.supplier_login_box ul li .t{
	margin-right:10px;
}
.supplier_login_box .input_box{
	width:200px;
	border:1px solid #ccc;
	height:22px;
	padding:3px;
}
.coupon_content{
	padding:10px;
	font-size:12px;
}
.coupon_content ul li{
	height:25px;
	line-height:25px;
	border-bottom:1px dotted #ccc;
}