@charset "gb2312";
/* CSS Document */

/*友情链接*/
#links{
	margin-top:10px;
	*display:inline;
}
#links fieldset{
	padding:8px;
	margin:0;
	border:1px solid #bababa;
}
#links fieldset legend{
	font-size:14px;
	font-family:"microsoft yahei";
	
}
#links fieldset .content ul li{
	float:left;
	margin-right:11px;
	margin-bottom:10px;
	width:86px;
	height:29px;
}
/*底部*/
#bottom{
	margin-top:10px;
	height:260px;
	background:url(../images/bottom_bg.jpg);
	background-size: cover;
	overflow:hidden;
}
#bottom .infos{
	height:121px;
/*	background:#004a8a;*/
	margin-top:40px;
}
/*后代选择器*/
#bottom .infos dl{
	float:left;
	width:175px;
	height:100px;
	padding:10px;
}
#bottom .infos .split_line{
	width:2px;
	height:120px;
	/*background:url(../images/line.png) no-repeat;*/
	float:left;
}
#bottom .infos dl dt{
	text-align:center;
	height:27px;
	line-height:27px;
	font-size:14px;
	font-family:"microsoft yahei";
	color:#b8c3d2;
}
#bottom .infos dl dd{
	width:130px;
	line-height:20px;
	float:right;
}
#bottom .infos_bottom_line{
	height:19px;
	/*background:url(../images/infos_bottom_line.jpg) no-repeat;*/
}
#bottom .copyright{
	height:80px;
	width:967px;
	margin-left:18px;
	text-align:center;
	color:#fff;
	font-size:12px;
	padding-top:20px;
}
